<% layout('/layout/boilerplate') %>

<form action="/chat" class="mt-5 offset-4" method="POST">
    <input name="message" id="message" type="text" placeholder="Ask Doubts to tutorly">
    <button class="btn btn-dark">Send</button>
</form>