<%- layout('/layout/boilerplate') %>

<h1>this is Home page</h1>

<form class="form mt-4 offset-3" action="/chat">
<h2>Ask any doubts to our AI-Teacher !</h2>
<button class="btn btn-success">Chat with tutorly</button>
</form>
